.backicon {
    width: 50px;
    display: flex;
    justify-content: center;
    padding: 5px;
}

.backicon:hover {
    color: rgb(80, 79, 79);
}

.t1 {
    width: 100%;

}

.trow {
    height: 60px;
}

.photo {
    width: 100%;
    height: auto;
}

/* .beauty {
    margin: 4px, 4px;
    padding: 4px;
    width: 100%;
    height: 60vh;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: justify;
    scroll-behavior: smooth;
} */
/* .div1{

} */
.star{
    width: 60px;
    height: 35px;
    line-height: normal;
    display: inline-block;
    color: #fff;
    padding:  6px;
    border-radius: 3px;
    font-weight: 500;
    font-size: 16px;
    vertical-align: middle;
    background-color: #388e3c;
    
}
.ptd{
    width: 300px;
}




