/* body {
    display: flex;
    justify-content: center;
    background-color: rgb(248, 251, 247);
    position: relative;
    margin: auto;
} */
* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;

}

/* .divbox { */
/* width: 100%;
    height: 90vh; */
/* display: grid; */
/* place-items: center; */
/* margin-top: 0px; */
/* height: auto;
    width: auto; */
/* } */


.imgslider {
    display: flex;
    justify-content: center;
    background-image: url(img/slide/img1.jpg);
    background-size: cover;
    /* Ensure the background image covers the entire div */
    background-position: center;
    /* Center the background image */
    margin-top: 0px;
    animation: changeImage 20s linear infinite;
    width: 100%;
    height: 75vh;
    /* Set a fixed height for the slider */
}

@media screen and (max-width: 768px) {
    .imgslider {
        height: 30vh;
    }
}


@keyframes changeImage {
    0% {
        background-image: url(../img/slide/img1.jpg);
        background-repeat: no-repeat;
    }

    20% {
        background-image: url(../img/slide/img2.jpg);
        background-repeat: no-repeat;
    }

    40% {
        background-image: url(../img/slide/img3.jpg);
        background-repeat: no-repeat;
    }

    60% {
        background-image: url(../img/slide/img4.jpg);
        background-repeat: no-repeat;
    }

    80% {
        background-image: url(../img/slide/img5.jpg);
        background-repeat: no-repeat;
    }

    100% {
        background-image: url(../img/slide/img1.jpg);
        background-repeat: no-repeat;
    }
}

img {

    width: 100%;
    /* height: auto; */
}

.ncontainer {
    width: 100%;
    height: auto;
    /* background-color: #fff; */
    /* margin-top: 20%; */
    margin-left: 0px;
    margin-right: 0px;
}

.searchsection {
    width: 60%;
    margin: auto;
    padding: 8px;
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 40px;
    background-color: white;
    display: flex;
    justify-content: center;
    position: relative;
}



.sinput {
    width: 70%;
    height: 10vh;
    border: none;
    padding: 20px;
    background-color: #3f3c3c;
    outline: #6b6868;
    color: #ffffff;
}

/* input[type="search"]:focus {
    border-color: #00b894;
    box-shadow: 0 0 10px #00b894;
    outline: none;
} */

.sinput::placeholder {
    color: white;
    font-size: 20px;
}

.sbtn {
    height: 10vh;
    width: 18%;
    border: 0;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: #b8b8b88f;
    margin-left: 3px;
    font-size: 20px;
    color: #3f3c3c;
}

.icon {
    display: flex;
    justify-content: center;
    /* margin: auto; */
    background-color: #b8b8b88f;
    width: 10%;
    height: 10vh;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    font-size: 20px;
}

.sericon {
    margin: auto;
}

.container {
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.111);
    /* margin-top: 11vh; */
    /* width: 35vh; */
    padding: 50px;
    padding-top: 17vh;
    display: flex;
    justify-content: center;
}

.divpop {
    border-radius: 15px;
    padding: 20px;
}

.pheader {
    text-align: right;
}

.form {
    margin-top: auto;
    margin-bottom: auto;

    display: block;
    justify-content: center;
}

label {
    color: rgb(1, 1, 1);
    margin-top: 10px;
    font-size: 18px;
}

.btn1 {
    width: 100%;
    display: flex;
    justify-content: center;
}

.input {
    margin-top: 10px;

}

.bttn {
    padding: 6px;
    border-radius: 10px;
    border: 0px;
    margin-top: 20px;
    height: 50px;
    width: 100%;
    background-color: #3f3c3c;
    color: rgb(255, 255, 255);
    font-size: 15px;
    /* width: 87px; */
}

.bttn:hover {
    background-color: #5a5959;
    cursor: pointer;
}

.ibox {
    height: 50px;
    width: 100%;
    border: 1px solid rgb(90, 90, 90);
    /* background-color: hsl(0, 0%, 45%); */
    /* backdrop-filter: blur(16px);
    --webkit-backdrop-filter: blur(16px); */
    /* margin-top: 5px; */
    border-radius: 8px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 9px;
    outline: none;
    font-size: 15px;
    /* color:white; */
}

/* .ibox::placeholder{
    color: white;
} */
/* .rbtn {
    text-decoration: none;
    color: #4258bc;
    margin-top: 10px;
} */

/* .rdiv {
    margin-top: 10px;
    color: #323030;
    font-size: 15px;
} */

.heading {
    /* background-color: #323030; */
    width: 35vh;
    color: rgb(0, 0, 0);
    /* text-align: center; */
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    /* margin-bottom: 30px; */
    /* margin-left: 2vh; */
    /* margin-right: 2vh; */
    /* margin-top: -5vh; */
}

.otpsec {
    display: flex;
    align-items: center;
}

/* #otpSection{
    display:flex;
} */
/* .pbtn {
    font-size: 15px;
    text-decoration: none;
    color: #393a3b;

} */

.pbttn {
    text-align: end;
    margin-top: 8px;
}

.pbtn {
    position: relative;

}

/* @media screen and (max-width:){

} */
/* .shr{
width: 496.4px;
margin-left: -35px;
margin-right: -35px;
} */

.divservices {
    display: flex;
    justify-content: center;
    width: 100%;
}

.service {
    width: 80%;
    /* height: 25vh; */
    border-radius: 10px;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 8px 20px 25px rgba(124, 124, 147, 0.3);
    /* backdrop-filter: blur(16px);
    --webkit-backdrop-filter: blur(16px); */
    margin-top: -4vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;

}


.seritem {
    width: 30vh;
    height: auto;
    margin: 8px;
    border-radius: 10px;
    cursor: pointer;
    padding: auto;
    background-repeat: no-repeat;
}

.seritem:nth-child(1):hover {
    /* transition: 50ms; */
    transform: scale(1.1);
    box-shadow: 8px 20px 25px rgba(124, 124, 147, 0.3);
}

.seritem:nth-child(2):hover {
    /* transition: 50ms; */
    transform: scale(1.1);
    box-shadow: 8px 20px 25px rgba(124, 124, 147, 0.3);
}

.seritem:nth-child(1):hover {
    /* transition: 50ms; */
    transform: scale(1.1);
    box-shadow: 8px 20px 25px rgba(124, 124, 147, 0.3);
}

.seritem:nth-child(3):hover {
    /* transition: 50ms; */
    transform: scale(1.1);
    box-shadow: 8px 20px 25px rgba(124, 124, 147, 0.3);
}

.seritem:nth-child(4):hover {
    /* transition: 50ms; */
    transform: scale(1.1);
    box-shadow: 8px 20px 25px rgba(124, 124, 147, 0.3);
}

.seritem:nth-child(5):hover {
    /* transition: 50ms; */
    transform: scale(1.1);
    box-shadow: 8px 20px 25px rgba(124, 124, 147, 0.3);
}

.seritem:nth-child(6):hover {
    /* transition: 50ms; */
    transform: scale(1.1);
    box-shadow: 8px 20px 25px rgba(124, 124, 147, 0.3);
}

.sicon {
    /* position: ; */
    margin: auto;
    height: auto;
    width: 40%;
}

.itemname {
    background-color: #ffffff;
    width: 100%;
    padding: 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 0;
    text-align: center;

}

.iconwrap {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    background-color: #f5f5f5;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

@media screen and (max-width:815px) {


    .container {
        max-width: 30vh;
        padding: 50px;
        border-radius: 30px;
        padding-top: -8%;
    }

    .searchsection {
        opacity: 0;
    }


    .seritem {
        width: 15vh;
    }

}

@media screen and (max-width:412px) {
    .service {
        width: 100%;
        border-radius: 0px;
        /* height: 15vh; */
        /* flex-direction: column; */
        box-shadow: none;
    }

    .seritem {
        width: 10vh;
        margin: 2px;
        /* border: 1px solid rgb(230, 230, 230); */
        padding: 5px;
        box-shadow: none;
        padding: auto;
        background-repeat: no-repeat;
    }

    .seritem:nth-child(1):active {
        transform: scale(1.1);
    }

    .seritem:nth-child(2):active {
        transform: scale(1.1);
    }

    .seritem:nth-child(3):active {
        transform: scale(1.1);
    }

    .seritem:nth-child(4):active {
        transform: scale(1.1);
    }

    .seritem:nth-child(5):active {
        transform: scale(1.1);
    }

    .seritem:nth-child(6):active {
        transform: scale(1.1);
    }
}

.error-message {
    color: red;
    font-size: 0.8em;
}

.otp {
    width: 6vh;
    height: 7vh;
    text-align: center;
    border-radius: 5px;
    border: 1px solid gray;
    outline: none;
}

.otp:not(:first-child) {
    margin-left: 6px;
}

.servicebtn {
    color: #000000;
    text-decoration: none;
}

.servicebtn:hover {
    color: #000000;
    text-decoration: none;
}

.wrapserviceworker {
    margin-top: 5vh;
    width: 100%;
    height: auto;
    padding-top: 10px;
    padding-bottom: 15px;
    box-shadow: 0 10px 20px -10px rgba(124, 124, 147, 0.3);
}

.serviceworker {

    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.worker {
    width: 300px;
    height: auto;
    border-radius: 10%;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}

.worker:not(:first-child) {
    margin-left: 1%;
}

.worker .workerphoto {
    transition: transform 0.3s ease;
}

.workerphoto {
    width: 100%;
    height: auto;
    display: block;
}

.workerphoto:hover {
    transform: scale(1.1);
}

.workerheading {
    margin-left: 10px;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.worker:hover .workerphoto {
    opacity: 0.3;
}

.worker:hover .middle {
    opacity: 1;
}

.text {
    background-color: transparent;
    color: rgb(40, 39, 39);
    font-size: 16px;
    padding: 16px 32px;
}

.servicename {
    background-color: rgba(141, 141, 141, 0.298);
    padding: 8px;
}

#suggestions {
    width: 47%;
    height: auto;
    position: absolute;
    background-color: #b2b2b29e;
    border: none;
    max-height: 150px;
    overflow-y: auto;
    display: none;
    z-index: 1000;
    margin-top: 13vh;
    padding: 10px;
}